@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;

    --color-base-black: black;
    --color-base-white: white;
    
    --color-01:#101828;
    --color-02:#667085;
    --color-03: #CECECE;
    --input-color: #344054;
    --input-border: #D0D5DD;
    --radial-gradient: circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75);
}

html, body, input {
    font-family: "Roboto", sans-serif;
}

.hero {
    background: 
        radial-gradient(var(--radial-gradient)),
        url('assets/background.jpg') no-repeat 12% center/cover var(--color-base-black);
    height: 100vh;

    padding: 0 4rem 0rem;
    height: 65rem;
    margin-bottom: 4rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    margin-bottom: 5rem;
}

nav > img {
    width: 20rem;
    height: auto;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-wrap: wrap-reverse;
}

.menu-toggle .bar {
    width: 2.5rem;
    height: .2rem;
    background-color: var(--color-base-white);
    margin: .4rem 0;
    transition: all 0.3s ease;
}

.menu-toggle .bar:last-child {
    width: 1.25rem;
}

.menu {
    list-style: none;
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.menu li {
    border-bottom: 1px solid var(--color-base-white);
}

.menu li a {
    display: block;
    padding: 0.5rem;
    color: var(--color-base-white);
    text-decoration: none;
}

.title {
    width: 35rem;
}

h1 {
    color: var(--color-base-white);
    font-size: 4rem;
    text-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.7);
}

.title p {
    color: var(--color-base-white);
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.7);

    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.title button {
    color: var(--color-base-white);
    font-size: 1.4rem;
    font-weight: 900;
    font-style: italic;

    padding: 1.6rem 2.8rem;
    border: .1rem solid var(--color-base-white);
    border-radius: 8rem;

    background-color: transparent;
    cursor: pointer;
    transition: color 300ms, background-color 300ms, transform 300ms, box-shadow 300ms;
}

.title button:hover {
    color: var(--color-01);
    background-color: var(--color-base-white);
    transform: scale(1.1);
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
}

.menu.active {
    display: flex;
}

section {
    margin-bottom: 8rem;
}

main {
    padding: 0rem 4rem;
    color: var(--color-02);
    font-size: 1.6rem;
    text-align: left;
}

h2 {
    color: var(--color-01);
    font-size: 2rem;
}

.subtitle {
    display: flex;
    align-items: center;
    gap: .8rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.301);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

.subtitle img {
    width: 2rem;
    height: 2rem;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .7rem;
}

.card {
    background-color: #101828;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;

    border-radius: .5rem;

    width: 100%;
    max-height: 17.5rem;
    aspect-ratio: auto 1 / 1;

    font-weight: bold;
    font-size: 2.5rem;

    color: var(--color-base-white);

    transition: transform 0.5s, box-shadow 0.5s;
}

.card:hover {
    cursor: default;

    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;

    filter: brightness(0.8);
    transition: transform 0.5s;
}

.card:hover img {
    transform: scale(1.1);
}

.card figcaption {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0.5rem;
}

.card:last-child {
    grid-column: span 2;
    max-height: 17.5rem;
}

p, ul {
    margin-bottom: 1rem;
}

ul {
    padding-left: 3rem;
}

li {
    margin-bottom: 0.5rem;
}

.highlights > h3 {
    font-size: 2rem;
    color: var(--color-01);
    font-style: italic;
    font-weight: 900;

    padding-bottom: 2rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
}

.highlights > h4 {
    font-size: 1.8rem;
    color: var(--color-01);
    font-style: italic;
    font-weight: 900;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.highlights > button {
    color: var(--color-base-white);
    font-size: 1.5rem;

    padding: 1.6rem 2.8rem;
    margin-top: 2rem;
    border: .1rem solid var(--color-base-white);
    border-radius: .5rem;

    background: linear-gradient(45deg, #101828, #243961);
    cursor: pointer;
    transition: color 300ms, background-color 300ms, transform 300ms, box-shadow 300ms;
}

.highlights button:hover {
    border: .1rem solid var(--color-base-white);
    transform: scale(1.1);
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    margin-bottom: 4rem;
}

.contact-item {
    display: flex;
    flex-direction: column;
}

.input-icon {
    color: var(--color-base-white);
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.contact-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.contact-subtitle {
    color: var(--color-03);
    font-size: 1.2rem;
}

.contact-text {
    font-size: 1.2rem;
}

#my-form {
    background-color: var(--color-base-white);
    border-radius: 1rem;
    padding: 2.6rem 2rem;
}

fieldset {
    border: none;
}

.input-wrapper-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.input-wrapper {
    margin-bottom: 1.5rem;
}

.input-wrapper > label {
    color: var(--input-color);
    font-size: 1.2rem;
    font-weight: bold;
}

input, textarea {
    font-size: 1.2rem;
    width: 100%;

    margin-top: .5rem;
    padding: 1rem;
    border: 0.1rem solid var(--input-border);
    border-radius: 0.5rem;
}

textarea {
    resize: none;
}

fieldset > button {
    width: 100%;

    color: var(--color-base-white);
    font-size: 1.5rem;
    font-weight: bold;

    padding: 1.6rem 2.8rem;
    margin-top: 2rem;
    border: .1rem solid var(--color-base-white);
    border-radius: .5rem;

    background: linear-gradient(45deg, #101828, #243961);
    cursor: pointer;
    transition: color 300ms, background-color 300ms, transform 300ms, box-shadow 300ms;
}

fieldset > button:hover {
    border: .1rem solid var(--color-base-white);
    transform: scale(1.1);
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
}

footer {
    color: var(--color-base-white);
    background-color: var(--color-01);

    padding: 4rem 4rem;
    font-size: 1.6rem;
}

footer > .subtitle{
    color: var(--color-base-white);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.301);
}

footer > .subtitle > h2 {
    color: var(--color-base-white);
}

.final {
    text-align: center;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.301);
    padding-top: 3rem;
}

.final > a > span > i {
    cursor: pointer;
    padding: 1rem;
    transition: color 300ms, background-color 300ms, transform 300ms, box-shadow 300ms;
}

.final > a > span > i:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .menu li {
        border: none;
    }

    .menu li a {
        padding: 1rem 2rem;
        font-size: 1.6rem;
    }
}
